.transactions-container {
    margin-top: 2rem;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    border: 2px solid #000;
}


.transactions-table th,
.transactions-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transactions-table th:first-child,
.transactions-table td:first-child {
    width: 120px;
}

.transactions-table th:nth-child(2),
.transactions-table td:nth-child(2) {
    width: 150px;
}

.transactions-table th:nth-child(3),
.transactions-table td:nth-child(3) {
    width: 150px;
}

.transactions-table th:nth-child(5),
.transactions-table td:nth-child(5) {
    width: 170px;
}

.transactions-table th:last-child,
.transactions-table td:last-child {
    width: 150px;
}

.transactions-table th {
    background-color: #000;
    color: white;
    font-weight: bold;
}

.transactions-table button {
    background-color: #000;
    color: white;
    border: none;
    padding: 8px 8px;
    margin-right: 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem;
}

.transactions-table button:hover {
    background-color: #333;
}

.pagination {
    display: flex;
    gap: 0.5rem;
}

.pagination button {
    padding: 0.3rem 0.7rem;
    border: none;
    background-color: #eee;
    cursor: pointer;
}

.pagination button.active {
    background-color: #000000;
    color: white;
}


.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #e0e0e0;
    border-top: 5px solid #3f51b5;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}